Version 0.9/UsiWSC_Manager/WebContent/wsdl/AuiDeployment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://test">
   <element name="uploadAUI">
    <complexType>
     <sequence>
     	<element name="file" type="xsd:base64Binary"/>
     	<element maxOccurs="unbounded" name="description" type="impl:AUI_Descripton">
     	</element>
     	<element name="processName" type="string"/>
     </sequence>
    </complexType>
   </element>
   <element name="uploadAUIResponse">
    <complexType>
     <sequence>
      <element name="deploymentVersion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  
   <complexType name="AUI_Descripton">
   	<sequence>
   		<element name="role" type="string"/>
   		<element name="aui_entry" type="string"/>
   	</sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="uploadAUIResponse">

      <wsdl:part element="impl:uploadAUIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uploadAUIRequest">

      <wsdl:part element="impl:uploadAUI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuiDeployment">

      <wsdl:operation name="uploadAUI">

         <wsdl:input message="impl:uploadAUIRequest" name="uploadRequest">

       </wsdl:input>

         <wsdl:output message="impl:uploadAUIResponse" name="uploadResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuiDeploymentSoapBinding" type="impl:AuiDeployment">


   	<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
   	<wsdl:operation name="uploadAUI">


   		<wsdlsoap:operation soapAction="http://test/uploadAUI"/>
   		<wsdl:input name="uploadRequest">


   			<wsdlsoap:body use="literal"/>
   		</wsdl:input>

   		<wsdl:output name="uploadResponse">


   			<wsdlsoap:body use="literal"/>
   		</wsdl:output>

   	</wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuiDeploymentService">

      <wsdl:port binding="impl:AuiDeploymentSoapBinding" name="AuiDeployment">

         <wsdlsoap:address location="http://localhost:8070/AuiDeployment/services/AuiDeployment"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
