trunk/Version 0.9/be.ac.fundp.precise.ui_bpel.transformations/src/resources/ProcessOperations.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://precise.fundp.ac.be/ProcessOperations/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessOperations" targetNamespace="http://precise.fundp.ac.be/ProcessOperations/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://precise.fundp.ac.be/ProcessOperations/">
      <xsd:element name="fireEvent">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="eventId" type="xsd:string" />
          	<xsd:element name="processId" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fireEventResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="start">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="processId" type="xsd:string"></xsd:element>
      			<xsd:element name="processType" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="startResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="fireEventRequest">
    <wsdl:part element="tns:fireEvent" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="fireEventResponse">
    <wsdl:part element="tns:fireEventResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="startRequest">
  	<wsdl:part name="parameters" element="tns:start"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="startResponse">
  	<wsdl:part name="parameters" element="tns:startResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProcessOperations">
    <wsdl:operation name="fireEvent">
      <wsdl:input message="tns:fireEventRequest"/>
    </wsdl:operation>
    <wsdl:operation name="start">
    	<wsdl:input message="tns:startRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessOperationsSOAP"
  	type="tns:ProcessOperations">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="fireEvent">
  		<soap:operation
  			soapAction="http://precise.fundp.ac.be/ProcessOperations/fireEvent" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="start">
  		<soap:operation
  			soapAction="http://precise.fundp.ac.be/ProcessOperations/start" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessOperations">
    <wsdl:port binding="tns:ProcessOperationsSOAP" name="ProcessOperationsSOAP">
      <soap:address location="http://localhost:8080/ode/processes/ProcessOperations"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
