UI_Manager/artifacts/ManageUserEvent.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fundp.ac.be/ManageUserEvent/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageUserEvent" targetNamespace="http://fundp.ac.be/ManageUserEvent/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://fundp.ac.be/ManageUserEvent/">
      <xsd:element name="communicateUserEvent">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="processId" type="xsd:string" />
          	<xsd:element name="eventId" type="xsd:string"></xsd:element>
          	<xsd:element name="role" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="communicateUserEventResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="communicateUserEventRequest">
    <wsdl:part element="tns:communicateUserEvent" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="communicateUserEventResponse">
    <wsdl:part element="tns:communicateUserEventResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ManageUserEvent">
    <wsdl:operation name="communicateUserEvent">
      <wsdl:input message="tns:communicateUserEventRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManageUserEventSOAP" type="tns:ManageUserEvent">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="communicateUserEvent">
      <soap:operation soapAction="http://fundp.ac.be/ManageUserEvent/communicateUserEvent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageUserEvent">
    <wsdl:port binding="tns:ManageUserEventSOAP" name="ManageUserEventSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
