UI_Manager/artifacts/UserEventListner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://precise.fundp.ac.be/UserEventListener/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://precise.fundp.ac.be/UserEventListener/">
   <wsdl:types>
      <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
                  targetNamespace="http://precise.fundp.ac.be/UserEventListener/">
         <xsd:element name="fireEvent">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="eventId" type="xsd:string"/>
                  <xsd:element name="processId" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="fireEventResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="out" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="fireEventRequest">
      <wsdl:part name="parameters" element="tns:fireEvent"/>
   </wsdl:message>
   <wsdl:portType name="UserEventListnerPortType">
      <wsdl:operation name="fireEvent">
         <wsdl:input message="tns:fireEventRequest"
                     wsaw:Action="http://precise.fundp.ac.be/UserEventListener/fireEvent"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UserEventListnerSOAP11Binding" type="tns:UserEventListnerPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="fireEvent">
         <soap:operation soapAction="http://precise.fundp.ac.be/UserEventListener/fireEvent"
                         style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UserEventListner">
      <wsdl:port name="UserEventListnerSOAP11port_http"
                 binding="tns:UserEventListnerSOAP11Binding">
         <soap:address location="http://localhost:8080/ode/processes/UserEventListner"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>