branches/NewProjectCreation/be.ac.fundp.precise.ui_bpel.ui/wsdl/UserEventListener.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://precise.fundp.ac.be/UserEventListener/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserEventListener" targetNamespace="http://precise.fundp.ac.be/UserEventListener/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://precise.fundp.ac.be/UserEventListener/">
      <xsd:element name="fireEvent">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="eventId" type="xsd:string" />
          	<xsd:element name="processId" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fireEventResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="fireEventRequest">
    <wsdl:part element="tns:fireEvent" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="fireEventResponse">
    <wsdl:part element="tns:fireEventResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UserEventListener">
    <wsdl:operation name="fireEvent">
      <wsdl:input message="tns:fireEventRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserEventListenerSOAP"
  	type="tns:UserEventListener">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="fireEvent">
  		<soap:operation
  			soapAction="http://precise.fundp.ac.be/UserEventListener/fireEvent" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserEventListener">
    <wsdl:port binding="tns:UserEventListenerSOAP" name="UserEventListenerSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
