be.ac.fundp.precise.ui_bpel.ui/wsdl/AuiDeployment.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions targetNamespace="http://test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<schema elementFormDefault="qualified" targetNamespace="http://test" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="uploadAUI">
    <complexType>
     <sequence>
     	<element name="file" type="xsd:base64Binary"/>
     	<element maxOccurs="unbounded" name="description" type="impl:AUI_Descripton">
     	</element>
     	<element name="processName" type="string"/>
     </sequence>
    </complexType>
   </element>
   <element name="uploadAUIResponse">
    <complexType>
     <sequence>
      <element name="deploymentVersion" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  
   <complexType name="AUI_Descripton">
   	<sequence>
   		<element name="role" type="string"/>
   		<element name="aui_entry" type="string"/>
   	</sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="uploadAUIRequest">
    <wsdl:part element="impl:uploadAUI" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadAUIResponse">
    <wsdl:part element="impl:uploadAUIResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuiDeployment">
    <wsdl:operation name="uploadAUI">
      <wsdl:input message="impl:uploadAUIRequest" name="uploadRequest">
    </wsdl:input>
      <wsdl:output message="impl:uploadAUIResponse" name="uploadResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuiDeploymentSoapBinding" type="impl:AuiDeployment">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadAUI">
      <wsdlsoap:operation soapAction="http://test/uploadAUI"/>
      <wsdl:input name="uploadRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuiDeploymentService">
    <wsdl:port binding="impl:AuiDeploymentSoapBinding" name="AuiDeployment">
      <wsdlsoap:address location="http://localhost:8050/UsiWSC_Manager/services/AuiDeployment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>