trunk/MediatorServer/WSDescription/UI_ManagerWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/UI_BPEL-Mediator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UI_ManagerWS_Binding" targetNamespace="http://www.example.org/UI_BPEL-Mediator/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/UI_BPEL-Mediator/">
      <xsd:element name="dataInputUI">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="auiID" type="xsd:string" />
          	<xsd:element name="role" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="dataInputUIResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="data" type="tns:DataUIType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="DataUIType">
      	<xsd:sequence>
      		<xsd:element name="StringUIData"
      			type="xsd:string" minOccurs="0"
      			maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="IntUIData" type="xsd:int"
      			minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="DateUIData" type="xsd:date"
      			minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="BooleanUIData"
      			type="xsd:boolean" minOccurs="0"
      			maxOccurs="unbounded">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="StringUIDataType">
      	<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="value" type="xsd:string"></xsd:attribute>
      </xsd:complexType>

      <xsd:complexType name="IntUIDataType">
      	<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="value" type="xsd:int"></xsd:attribute>
      </xsd:complexType>

      <xsd:complexType name="DateUIDataType">
      	<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="value" type="xsd:date"></xsd:attribute>
      </xsd:complexType>

      <xsd:complexType name="BooleanUIDataType">
      	<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="value" type="xsd:boolean"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="dataOutputUI">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="auiID" type="xsd:string"></xsd:element>
      			<xsd:element name="role" type="xsd:string"></xsd:element>
      			<xsd:element name="data" type="tns:DataUIType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="dataOutputUIResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="dataSelectionUI">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="auiID" type="xsd:string"></xsd:element>
      			<xsd:element name="role" type="xsd:string"></xsd:element>
      			<xsd:element name="selectable" type="tns:DataUIType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="dataSelectionUIResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="selected" type="tns:DataUIType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="eventUI">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="eventUIResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="id" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="eventDataUI">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="id" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="faultUI">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="id" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse1">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="dataInputUIRequest">
    <wsdl:part element="tns:dataInputUI" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="dataInputUIResponse">
    <wsdl:part element="tns:dataInputUIResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="dataOutputUIRequest">
  	<wsdl:part name="parameters" element="tns:dataOutputUI"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="dataOutputUIResponse">
  	<wsdl:part name="parameters" element="tns:dataOutputUIResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="dataSelectionUIRequest">
  	<wsdl:part name="parameters" element="tns:dataSelectionUI"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="dataSelectionUIResponse">
  	<wsdl:part name="parameters" element="tns:dataSelectionUIResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="eventUIRequest">
  	<wsdl:part name="parameters" element="tns:eventUI"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="eventUIResponse">
  	<wsdl:part name="parameters" element="tns:eventUIResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="eventDataUIRequest">
  	<wsdl:part name="parameters" element="tns:eventDataUI"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="faultUIRequest">
  	<wsdl:part name="parameters" element="tns:faultUI"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse1">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse1"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UI_Manager">
    <wsdl:operation name="dataInputUI">
      <wsdl:input message="tns:dataInputUIRequest"/>
      <wsdl:output message="tns:dataInputUIResponse"/>
    </wsdl:operation>
    <wsdl:operation name="dataOutputUI">
    	<wsdl:input message="tns:dataOutputUIRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="dataSelectionUI">
    	<wsdl:input message="tns:dataSelectionUIRequest"></wsdl:input>
    	<wsdl:output message="tns:dataSelectionUIResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eventDataUI">
    	<wsdl:input message="tns:eventDataUIRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="faultUI">
    	<wsdl:input message="tns:faultUIRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UI_ManagerWS_Binder" type="tns:UI_Manager">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="dataInputUI">
  		<soap:operation
  			soapAction="http://www.example.org/UI_BPEL-Mediator/dataInputUI" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="dataOutputUI">
  		<soap:operation
  			soapAction="http://www.example.org/UI_BPEL-Mediator/dataOutputUI" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="dataSelectionUI">
  		<soap:operation
  			soapAction="http://www.example.org/UI_BPEL-Mediator/dataSelectionUI" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="eventDataUI">
  		<soap:operation
  			soapAction="http://www.example.org/UI_BPEL-Mediator/eventDataUI" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="faultUI">
  		<soap:operation
  			soapAction="http://www.example.org/UI_BPEL-Mediator/faultUI" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UI_ManagerWS">
    <wsdl:port binding="tns:UI_ManagerWS_Binder" name="UI_ManagerWS_SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
